# Code editors
.idea/
.vscode/

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Testing
.coverage

# Docs build
docs/build/

# Dist
build/
dist/
autodcf.egg-info/

# OS Specific
.DS_Store